:root {
  --font-monospace: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  --color-black: #343837;
  --color-white: #FDFDFE;
  --color-gray: #7D7F7C;
}

html { font-size: 10px; }

/* @media (max-width: 900px) { */
/*   html { font-size: 9px; } */
/* } */

/* @media (max-width: 400px) { */
/*   html { font-size: 8px; } */
/* } */

body {
  padding: 0;
  margin: 0;

  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-monospace, monospace);
  color: var(--color-black, black);

  background-color: var(--color-white, white);
}

main {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 { font-size: inherit; }

img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;

  border-radius: 50%;

  filter: grayscale(50%) brightness(110%);
}

@media (max-height: 900px) {
  img { max-width: 300px; }
}

@media (max-width: 400px) {
  img { max-width: 200px; }
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

li {
  text-align: center;

  list-style: none;
}

.link { color: var(--color-gray, gray); }

.link:hover {
  color: var(--color-black, black);
  transition: color 0.25s;
}
