:root {
  --font-monospace: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  --color-black: #1B2431;
  --color-white: #FDFDFE;
  --color-watermelon: #FD4659;
}

html { font-size: 10px; }

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-monospace, monospace);
  color: var(--color-black, black);

  background-color: var(--color-white, white);
}

main {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2 { font-size: inherit; }

img {
  max-width: 450px;
  width: 100%;
  height: auto;
  margin: auto;

  border-radius: 50%;
}

aside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.text-emoji { font-size: 1.7rem; }

.link-text {
  text-decoration: none;
  color: var(--color-watermelon, pink);
}

.link-text:hover {
  border-bottom: 0.5rem solid;
  transition: border-bottom 0.25s;
}

.svg-icon {
  display: block;

  width: 4.5rem;
  height: 4.5rem;
  padding-bottom: 0.5rem;
  margin-right: 3rem;

  fill: var(--color-watermelon, pink);
}

.svg-icon:hover {
  border-bottom: 0.5rem solid;
  transition: border-bottom 0.25s;
}
