a.fatlink {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 700;
  color: $red-dark;
  transition: color 0.3s;
  position: relative;

  &:hover {
    color: $red-light;
  }

  &:after {
  	position: absolute;
  	top: 100%;
  	left: 0;
  	width: 100%;
  	height: 0.3rem;
  	background: $red-light;
  	content: '';
  	opacity: 0;
  	transition: height 0.3s, opacity 0.3s, transform 0.3s;
  	transform: translateY(-10px);
  }

  &:hover:after {
  	opacity: 1;
  	transform: translateY(0px);
  }
}
