body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.me {
  padding: 1em;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .5s;
  max-width: 650px;
  min-height: 0;
  font-family: $font-family-code;
  font-weight: 500;

  img.photo {
    height: 18.75em;
    border-radius: 50%;
    @include breakpoint(mobile) {
      height: 15em;
    }
  }
  h1 {
    font-weight: 500;
    font-size: 2em;
  }
  a {
    @extend .fatlink;
  }
}

p.indented {
  margin-left: 1em;
  text-indent: -1em
}

p.me-social {
  a {
    @extend .fatlink;
    font-size: 3em;
    margin-right: 0.5em;

    @include breakpoint(mobile) {
      font-size: 2.5em;
    }
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
