---
title: Max | Klappradla
---

<div class="me">
  <div class="photo">
    <%= image_tag 'me.jpg' %>
  </div>
  <h1>Hi, I'm Max</h1>
  <%= simple_format data.me.bio %>
  <p class="indented">
    Tools I like:<br/>
    <%= link_list data.me.tools %>
  </p>
  <p class="indented">
    Email:<br/>
    klappradl@gmail.com
  </p>
  <p class="indented">
    Find me:<br/>
    github twitter linked_in
  </p>
</div>
