---
title: Max | Klappradla
---

<div class="me">
  <div class="photo">
    <%= image_tag 'me.jpg' %>
  </div>
  <h1>Hi, I'm Max</h1>
  <%= simple_format data.me.bio %>
  <p class="indented">
    Tools I like:<br/>
    <%= link_list data.me.tools %>
  </p>
  <p class="indented">
    Elsewhere:<br/>
    <% link_to '#', class: 'biglink' do %><span class="fontawesome-github" aria-hidden="true"></span><% end %>
    <% link_to '#', class: 'biglink' do %><span class="fontawesome-twitter" aria-hidden="true"></span><% end %>
    <% link_to '#', class: 'biglink' do %><span class="fontawesome-linkedin" aria-hidden="true"></span><% end %>
    <% link_to '#', class: 'biglink' do %><span class="fontawesome-envelope" aria-hidden="true"></span><% end %>
  </p>
</div>
