---
title: Welcome to Middleman
---

<div class="me">
  <div class="photo">
    <%= image_tag 'me.jpg' %>
  </div>
  <h1>Hi, I'm Max</h1>
  <%= simple_format data.me.bio %>
  <p>
    Tools I like<br/>
    <%= link_list data.me.tools %>
  </p>
  <p>
    Find me<br/>
    github twitter klappradla at gmail dot com
  </p>
</div>
